<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="LOGFILE_OF_" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<rollingStyle value="Date" />
			<datePattern value="dd.MM.yyyy'.txt'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%10.10thread] %6level  - %message%newline">
				</conversionPattern>
			</layout>
		</appender>
		<root>
			<level value ="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key ="ConnectionString" value="Data Source=localhost\SQLEXPRESS;Initial Catalog=Terminal;integrated security=true;" />
	</appSettings>
</configuration>